set -x N_PREFIX ~/n 


set -x PATH ~/bin $PATH  # personal binaries
set -x PATH $N_PREFIX/bin $PATH  # n shims
set -x PATH ~/.npm-global/bin $PATH  # npm modules


set -x EDITOR /home/erich/bin/nvim


# pyenv stuff, the plugin is being weird
# set -x PATH "/home/erich/.pyenv/bin" $PATH
# status --is-interactive; and source (pyenv init -|psub)
# status --is-interactive; and source (pyenv virtualenv-init -|psub)


# Golang
set -x GOPATH ~/.config/go
set PATH /usr/lib/go-1.10/bin/ $PATH


# pbcopy/pbpaste like in OS X because my brain is mush
alias pbcopy "xsel --clipboard --input"
alias pbpaste "xsel --clipboard --output"


# Set up snaps
set -x PATH /snap/bin $PATH

# Sorry ansible, I dont like the cows much :(
set -x ANSIBLE_NOCOWS 1
