# {{ ansible_managed }}
# vi:syntax=fish

alias mux "tmuxinator"
alias poetry_shell '. (dirname (poetry run which python))/activate.fish'

set -x VIRTUAL_ENV_DISABLE_PROMPT 0

set -x LAPTOP_IP "192.168.1.27"


function gowork --description 'ssh + tmux to tmuxinator workspace, default usual'
        if set -q $argv
                ssh eblume@$LAPTOP_IP -t mux usual
        else
                ssh eblume@$LAPTOP_IP -t mux $argv
        end
end


function tagit --description 'ctags -R $@ ; with some exclusions, default is "."'
        if set -q $argv
                ctags -R --exclude=.mypy_cache --exclude=node_modules .
        else
                ctags -R --exclude=.mypy_cache --exclude=node_modules $argv
        end
end
