# MANAGED BY ANSIBLE
# forked from ~/.tmuxinator/usual.yml

name: hermes
root: ~/code/notreon/hermes

windows:
  - coding:
      layout: 'main-horizontal'
      panes:
        - poetry shell
        - poetry shell --  bin/hermes_tests.sh
