# {{ ansible_managed }}
# forked from ~/.tmuxinator/usual.yml

name: hermes
root: {{nonwork_code_dir}}/hermes

windows:
  - coding:
      layout: 'main-horizontal'
      panes:
        - poetry_shell
        - poetry_shell; and bin/hermes_tests.sh
