" {{ ansible_managed }}
" vi:syntax=vim

" vim and fish dont play nice
set shell=/bin/zsh

" Install vim-plug if needed
if empty(glob('~/.local/share/nvim/site/autoload/plug.vim'))
  silent !curl -fLo ~/.local/share/nvim/site/autoload/plug.vim --create-dirs
    \ https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
  autocmd VimEnter * PlugInstall --sync | source $MYVIMRC
endif

call plug#begin('~/.vim/bundle')

"""""""""""""""""""""""""
" NOTE TO SELF          "
" KEEP IT SIMPLE STUPID "
" ( ... woops ... )     "
"""""""""""""""""""""""""
" pretty pretty
Plug 'flazz/vim-colorschemes'


" use gS and gJ to format oneliners to multiliners and vice versa
Plug 'AndrewRadev/splitjoin.vim'

" Some sensible defaults
Plug 'tpope/vim-sensible'

" Surround, use it, love it
" use cs"' to change " to '
" use cs'<q> to change it to <q></q>
" use cst" to go back to "
" ds" deletes the "
" ysiw] (iw for 'inner word') to surround a word like [this]
" cs]{ -- change [ to { with a space (use } to avoid the space)
" others as well... one last example for when in Visual mode (V)
" select, then S<p class="important"> -- surrounds your selection with a p!
Plug 'tpope/vim-surround'

" Ansible syntax
Plug 'pearofducks/ansible-vim', { 'do': 'cd ./UltiSnips; ./generate.py' }

" FZF file search
Plug 'junegunn/fzf', { 'do': { -> fzf#install() } }
Plug 'junegunn/fzf.vim'

" Syntax support for 100+ languages
Plug 'sheerun/vim-polyglot'

" vim-airline
Plug 'vim-airline/vim-airline'

" vim Dim Inactive Windows
Plug 'blueyed/vim-diminactive'

" fugitive (git integration, rhubarb is for github specifically)
Plug 'tpope/vim-fugitive'
Plug 'tpope/vim-rhubarb'

" git gutter
Plug 'airblade/vim-gitgutter'

" javascript
Plug 'pangloss/vim-javascript'

" tmux focus events
Plug 'tmux-plugins/vim-tmux-focus-events'

" Asynchronous Linting
Plug 'w0rp/ale'

" unimpaired - Toggle Everything
Plug 'tpope/vim-unimpaired'

" vim-vinegar, enhancements to netrw
Plug 'tpope/vim-vinegar'

" tagbar - for displaying tags, press F8
Plug 'majutsushi/tagbar'

" vim-eunuch, linux CLI stuff like :Move, :Rename, etc.
Plug 'tpope/vim-eunuch'

" coc.vim - LSP implementation and edit window stuff
" TODO - maybe choose between ale or coc.vim, both do similar things
Plug 'neoclide/coc.nvim', {'branch': 'release'}

" All of your Plugins must be added before the following line
call plug#end()
""""""""""""""" End of plugins stuff

" Disable Python2, it's dead, Jim
let g:loaded_python_provider = 0
let g:python_host_prog = ''

" Always try to syntax highlight... I rarely write bare prose.
syntax on

" Set termcolor mode - the colors, Duke! The colors!
set termguicolors

" Disable bells... why cant I get rid of all the friggin bells
set belloff=all

" Hide mouse pointer while typing
set mousehide
set mousemodel=popup

" Disable swapfiles, they don't seem to ever help
set noswapfile

" Set persistent undo (v7.3 only)
set undodir=~/.vim/undodir
set undofile

" Move backup files to ~/.vim/sessions
set backupdir=~/.vim/sessions
set dir=~/.vim/sessions

" Syntax highlight syncing from the top of the file (fixes Python)
autocmd BufEnter * :syntax sync fromstart

" Set <Leader> to ' ' and <localleader> to ","
let mapleader=" "
let maplocalleader=","

" Take off the training wheels
inoremap  <Up>     <NOP>
inoremap  <Down>   <NOP>
inoremap  <Left>   <NOP>
inoremap  <Right>  <NOP>
vnoremap  <Up>     <NOP>
vnoremap  <Down>   <NOP>
vnoremap  <Left>   <NOP>
vnoremap  <Right>  <NOP>
nnoremap  <Up>     <NOP>
nnoremap  <Down>   <NOP>
nnoremap  <Left>   <NOP>
nnoremap  <Right>  <NOP>

" Enable automatic title setting for terminals
" (I'm turning this off temporarily to see if I like the default better)
" set title
" set titleold="Terminal"
" set titlestring=%F\ -\ Vim

" Activate a permanent ruler
" set ruler

" Disable the blinking cursor
" set gcr=a:blinkon0

" Every term I use is fast, sheesh
set ttyfast

" Global substitution regexes by default
set gdefault

" BEGIN coc.vim config
" This is adapted from: https://github.com/neoclide/coc.nvim#example-vim-configuration

set hidden
set nobackup
set nowritebackup
set cmdheight=2
set updatetime=300  " default 4000 (4s)
set shortmess+=c  " turns off some 'completion messages', like '10 of 200'
set signcolumn=number  " combine signs with numbers, to prevent columns shifting around

" (Much of what follows is copied verbatim, some changes though)

" Use tab for trigger completion with characters ahead and navigate.
" NOTE: Use command ':verbose imap <tab>' to make sure tab is not mapped by
" other plugin before putting this into your config.
inoremap <silent><expr> <TAB>
      \ pumvisible() ? "\<C-n>" :
      \ <SID>check_back_space() ? "\<TAB>" :
      \ coc#refresh()
inoremap <expr><S-TAB> pumvisible() ? "\<C-p>" : "\<C-h>"

function! s:check_back_space() abort
  let col = col('.') - 1
  return !col || getline('.')[col - 1]  =~# '\s'
endfunction

" Use <command-space> to trigger completion. (originally c-space)
inoremap <silent><expr> <D-space> coc#refresh()

" Make <CR> auto-select the first completion item and notify coc.nvim to
" format on enter, <cr> could be remapped by other vim plugin
inoremap <silent><expr> <cr> pumvisible() ? coc#_select_confirm()
                              \: "\<C-g>u\<CR>\<c-r>=coc#on_enter()\<CR>"

" Use `[g` and `]g` to navigate diagnostics
" Use `:CocDiagnostics` to get all diagnostics of current buffer in location list.
nmap <silent> [g <Plug>(coc-diagnostic-prev)
nmap <silent> ]g <Plug>(coc-diagnostic-next)

" GoTo code navigation.
nmap <silent> gd <Plug>(coc-definition)
nmap <silent> gy <Plug>(coc-type-definition)
nmap <silent> gi <Plug>(coc-implementation)
nmap <silent> gr <Plug>(coc-references)

" Use K to show documentation in preview window.
nnoremap <silent> K :call <SID>show_documentation()<CR>

function! s:show_documentation()
  if (index(['vim','help'], &filetype) >= 0)
    execute 'h '.expand('<cword>')
  elseif (coc#rpc#ready())
    call CocActionAsync('doHover')
  else
    execute '!' . &keywordprg . " " . expand('<cword>')
  endif
endfunction

" Highlight the symbol and its references when holding the cursor.
autocmd CursorHold * silent call CocActionAsync('highlight')

" Symbol renaming.
nmap <leader>rn <Plug>(coc-rename)

" Formatting selected code.
xmap <leader>f  <Plug>(coc-format-selected)
nmap <leader>f  <Plug>(coc-format-selected)

augroup mygroup
  autocmd!
  " Setup formatexpr specified filetype(s).
  autocmd FileType typescript,json setl formatexpr=CocAction('formatSelected')
  " Update signature help on jump placeholder.
  autocmd User CocJumpPlaceholder call CocActionAsync('showSignatureHelp')
augroup end

" Applying codeAction to the selected region.
" Example: `<leader>aap` for current paragraph
xmap <leader>a  <Plug>(coc-codeaction-selected)
nmap <leader>a  <Plug>(coc-codeaction-selected)

" Remap keys for applying codeAction to the current buffer.
nmap <leader>ac  <Plug>(coc-codeaction)
" Apply AutoFix to problem on the current line.
nmap <leader>qf  <Plug>(coc-fix-current)

" Map function and class text objects
" NOTE: Requires 'textDocument.documentSymbol' support from the language server.
xmap if <Plug>(coc-funcobj-i)
omap if <Plug>(coc-funcobj-i)
xmap af <Plug>(coc-funcobj-a)
omap af <Plug>(coc-funcobj-a)
xmap ic <Plug>(coc-classobj-i)
omap ic <Plug>(coc-classobj-i)
xmap ac <Plug>(coc-classobj-a)
omap ac <Plug>(coc-classobj-a)

" Remap <C-f> and <C-b> for scroll float windows/popups.
if has('nvim-0.4.0') || has('patch-8.2.0750')
  nnoremap <silent><nowait><expr> <C-f> coc#float#has_scroll() ? coc#float#scroll(1) : "\<C-f>"
  nnoremap <silent><nowait><expr> <C-b> coc#float#has_scroll() ? coc#float#scroll(0) : "\<C-b>"
  inoremap <silent><nowait><expr> <C-f> coc#float#has_scroll() ? "\<c-r>=coc#float#scroll(1)\<cr>" : "\<Right>"
  inoremap <silent><nowait><expr> <C-b> coc#float#has_scroll() ? "\<c-r>=coc#float#scroll(0)\<cr>" : "\<Left>"
  vnoremap <silent><nowait><expr> <C-f> coc#float#has_scroll() ? coc#float#scroll(1) : "\<C-f>"
  vnoremap <silent><nowait><expr> <C-b> coc#float#has_scroll() ? coc#float#scroll(0) : "\<C-b>"
endif

" Use CTRL-S for selections ranges.
" Requires 'textDocument/selectionRange' support of language server.
nmap <silent> <C-s> <Plug>(coc-range-select)
xmap <silent> <C-s> <Plug>(coc-range-select)

" Add `:Format` command to format current buffer.
command! -nargs=0 Format :call CocAction('format')

" Add `:Fold` command to fold current buffer.
command! -nargs=? Fold :call     CocAction('fold', <f-args>)

" Add `:OR` command for organize imports of the current buffer.
command! -nargs=0 OR   :call     CocAction('runCommand', 'editor.action.organizeImport')

" Add (Neo)Vim's native statusline support.
" NOTE: Please see `:h coc-status` for integrations with external plugins that
" provide custom statusline: lightline.vim, vim-airline.
set statusline^=%{coc#status()}%{get(b:,'coc_current_function','')}

" Mappings for CoCList
" Show all diagnostics.
nnoremap <silent><nowait> <space>a  :<C-u>CocList diagnostics<cr>
" Manage extensions.
nnoremap <silent><nowait> <space>e  :<C-u>CocList extensions<cr>
" Show commands.
nnoremap <silent><nowait> <space>c  :<C-u>CocList commands<cr>
" Find symbol of current document.
nnoremap <silent><nowait> <space>o  :<C-u>CocList outline<cr>
" Search workspace symbols.
nnoremap <silent><nowait> <space>s  :<C-u>CocList -I symbols<cr>
" Do default action for next item.
nnoremap <silent><nowait> <space>j  :<C-u>CocNext<CR>
" Do default action for previous item.
nnoremap <silent><nowait> <space>k  :<C-u>CocPrev<CR>
" Resume latest coc list.
nnoremap <silent><nowait> <space>p  :<C-u>CocListResume<CR>

" END coc.vim config

" Copy/Paste to and from Desktop Environment
noremap <leader>yy "+y
noremap <leader>pp "+gP

" FZF search. More can be found here: https://github.com/junegunn/fzf.vim
" nnoremap <leader>f :<C-u>Files<CR>  " now used by coc.vim
nnoremap <leader>t :<C-u>Tags<CR>
nnoremap <leader>b :<C-u>Buffers<CR>
nnoremap <leader>l :<C-u>Lines<CR>
if executable('rg')
  nnoremap <leader>a :<C-u>Rg<CR>
elseif executable('ag')
  nnoremap <leader>a :<C-u>Ag<CR>
endif
" Map ctrl-p to :Files, to mimic ctrlp.vim, which is burned in to my brain
nnoremap <C-p> :<C-u>Files<CR>

" Search for the cword the cursor is on. Like gD or <C-w>} - but nicer
" thanks to https://github.com/junegunn/fzf.vim/issues/50#issuecomment-671140649
function! FzfTagsCurrentWord()
  let l:word = expand('<cword>')
  let l:list = taglist(l:word)
  if len(l:list) == 1
    execute ':tag ' . l:word
  else
    call fzf#vim#tags(l:word)
  endif
endfunction

noremap <leader>] :call FzfTagsCurrentWord()<cr>

set laststatus=2
set showcmd
set showmode
set number

"""""""""" Tab Settings
" This is commented out because I think maybe it's causing tabbing issues
"
" set smarttab
set autoindent
"
" These are commented out so I can use per-language tabs, I hope.
"
" set softtabstop=4
" set shiftwidth=4
" set tabstop=4
set expandtab

" utf-8 default encoding
set enc=utf-8

" Prefer unix over windows over os9 formats
set fileformats=unix,dos,mac

" Keep more lines for scope
set scrolloff=5

" some netrw setup
let g:netrw_liststyle = 3  " tree view
let g:netrw_list_hide = '.\(pyc\|pyo\|o\)$' " hide some files and remove stupid help
let g:netrw_banner = 0

" Disable the help key entirely
inoremap <F1> <ESC>
nnoremap <F1> <ESC>
vnoremap <F1> <ESC>

" <leader>[v,h] opens a [vertical/horizontal] split window and selects it.
nnoremap <leader>v <C-w>v<C-w>l
nnoremap <leader>h <C-w>h<C-w>l

" set 100 column width
set textwidth=100
set formatoptions-=t  " Don't linewrap automatically while we are typing please
set formatoptions+=q  " but do allow gq to work
" set formatoptions-=c  " This disables automatic linewrap for comments.

" Don't add spaces when joining lines to avoid weird text errors.
" Might need to revisit this if non-prose joining gets wonky.
set nojoinspaces

" Ignore pyc files
set wildignore=*.pyc

" YAML files need 2 space indentation
au FileType yaml setlocal tabstop=2 expandtab shiftwidth=2 softtabstop=2

" JS files need 2 space indentation
au FileType javascript setlocal tabstop=2 expandtab shiftwidth=2 softtabstop=2

" RST files get 4 because it plays nice with python/doctest
au FileType rst setlocal tabstop=4 expandtab shiftwidth=4 softtabstop=4

" json
au FileType json setlocal tabstop=2 expandtab shiftwidth=2 softtabstop=2

" copy/paste in linux
set clipboard+=unnamedplus

" Airline config (for statusline)
let g:airline#parts#ffenc#skip_expected_string='utf-8[unix]'  " If it's utf-8 I don't care
" This next one is because I can't possibly imagine caring about the % through a doc
let g:airline_section_z = airline#section#create(['', 'linenr', 'maxlinenr', '%3v'])
if !exists("g:airline_symbols")
  let g:airline_symbols={}
endif
let g:airline_symbols.linenr=''

" Linting
let g:ale_sign_column_always = 1 " always show the gutter
let g:ale_change_sign_column_color = 1 " Change the gutter's color
let g:airline#extensions#ale#enabled = 1
" to change gutter symbols:
" let g:ale_sign_error = '>>'
" let g:ale_sign_warning = '..'
" to change gutter colors:
" highlight clear ALEErrorSign
" highlight clear ALEWarningSign
let g:ale_linters = {
\  'javascript': ['eslint'],
\  'python': ['flake8', 'black', 'mypy'],
\}
let g:ale_fixers = {
\  '*': ['remove_trailing_lines', 'trim_whitespace'],
\  'python': [
\     'remove_trailing_lines',
\     'trim_whitespace',
\     'isort',
\     'black'
\   ],
\  'javascript': ['prettier_standard', 'remove_trailing_lines', 'trim_whitespace'],
\}

" Tagbar on F8
nmap <F8> :TagbarOpenAutoClose<CR>

" Per default, netrw leaves unmodified buffers open. This autocommand
" deletes netrw's buffer once it's hidden (using ':q', for example)
autocmd FileType netrw setl bufhidden=delete

" Set up colors
" set background=dark
colorscheme molokai

" Better search
set hlsearch
set incsearch
set showmatch

" Hide matches on <leader>/
nnoremap <leader>/ :nohlsearch<CR>

" search highlight color
" hi Search cterm=NONE ctermbg=LightMagenta ctermfg=Red
" hi Search guibg=LightYellow guifg=Red

" Set the line number color
" hi LineNr ctermfg=grey ctermbg=52

" Other highlights
" hi SpellBad cterm=None ctermbg=LightGray ctermfg=Red
" hi SpellCap cterm=None ctermbg=LightCyan ctermfg=Red

" Link the git-gutter color to the line number color
" hi! link SignColumn LineNr

" Show trailing whitepace and spaces before a tab:
" highlight ExtraWhitespace ctermbg=red guibg=red
" match ExtraWhitespace /\s\+$/
" autocmd BufWinEnter * match ExtraWhitespace /\s\+$/
" autocmd InsertEnter * match ExtraWhitespace /\s\+\%#\@<!$/
" autocmd InsertLeave * match ExtraWhitespace /\s\+$/

" hi Normal guibg=NONE ctermbg=NONE

"Inactive window colors
let g:diminactive_use_colorcolumn = 0
let g:diminactive_use_syntax = 1
let g:diminactive_enable_focus = 1

" Terminal mode suggested remappings (via :help terminal-input)
:tnoremap <Esc> <C-\><C-n>  " bring back escape
:tnoremap <expr> <C-R> '<C-\><C-N>"'.nr2char(getchar()).'pi'  " ctrl-r for register pasting

" Window navigation in ANY mode. Uses alt instead of ctrl for compatibility with terminals.
:tnoremap <A-h> <C-\><C-N><C-w>h
:tnoremap <A-j> <C-\><C-N><C-w>j
:tnoremap <A-k> <C-\><C-N><C-w>k
:tnoremap <A-l> <C-\><C-N><C-w>l
:inoremap <A-h> <C-\><C-N><C-w>h
:inoremap <A-j> <C-\><C-N><C-w>j
:inoremap <A-k> <C-\><C-N><C-w>k
:inoremap <A-l> <C-\><C-N><C-w>l
:nnoremap <A-h> <C-w>h
:nnoremap <A-j> <C-w>j
:nnoremap <A-k> <C-w>k
:nnoremap <A-l> <C-w>l

