# {{ ansible_managed }}
# vi:syntax=tmux

# Change leader to C-_ from C-b
set -g prefix C-a
unbind-key C-b
bind-key C-a send-prefix

# remove the horrible escape delay
set -sg escape-time 0

# mouse
set -g mouse on

# Pretty Colors
set -g default-terminal "screen-256color"

# vi mode copy
set-window-option -g mode-keys vi
bind -T copy-mode-vi v send-keys -X begin-selection
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel 'xclip -in -selection clipboard'
bind -T copy-mode-vi r send-keys -X rectangle-toggle

# vim-like pane movement
bind-key h select-pane -L
bind-key j select-pane -D
bind-key k select-pane -U
bind-key l select-pane -R

# rebind arrow-key movement to remove the delay
bind-key Up select-pane -U
bind-key Down select-pane -D
bind-key Right select-pane -R
bind-key Left select-pane -L

# fix vim focus events
set -g focus-events on

# Alias for ringtail's main monitor
set -s command-alias[15] rt='resize-pane -R 120'

#### PLUGINS
# set -g @plugin 'tmux-plugins/tpm'
# set -g @plugin 'jimeh/tmux-themepack'


#### THEMES
# set -g @themepack 'powerline/block/cyan'

#### Color active panes
#set inactive/active window styles
set -g window-style 'fg=colour247,bg=colour236'
set -g window-active-style 'fg=colour250,bg=black'

# set the pane border colors
set -g pane-border-style fg=colour235,bg=colour238
set -g pane-active-border-style fg=colour236,bg=colour250

# Set the statusline -- this is bonkers because we need to go through THREE comment escape sequences to print a literal '#'
set -g status-style bg=colour32
set -g status-left-length 32
set -g status-left "{{ '<#h> [#S] ' }}"
set -g window-status-style bold

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
# run '~/.tmux/plugins/tpm/tpm'
