AddKeysToAgent yes

Host bastion ansible-bastion ansible-bastion.patreon.com
  HostName ansible-bastion.internal.patreon.com
  IdentityFile ~/.ssh/070411_rsa.priv
  ForwardAgent yes

Host *.patreon.com migrations-bastion
  ProxyJump bastion
  UserKnownHostsFile=/dev/null
  StrictHostKeyChecking no

Host migrations-bastion
  HostName migrations-bastion.patreon.com
