# {{ ansible_managed }}
# vi:syntax=fish

set -x MONO_HOME $HOME/code/work/mono
set -x MONO_BIN $MONO_HOME/script/bin
set -x GOPATH $HOME/go $MONO_HOME/golang
set -x PATH $MONO_HOME/golang/bin $MONO_HOME/script/bin /opt/medium/bin $HOME/go/bin $HOME/.yarn/bin $PATH

function unlock --description "Unlock the security keychain 'unlock <password>'"
        security unlock-keychain -p $argv $HOME/Library/Keychains/login.keychain-db
end
